* {
    margin: 0;
    padding: 0
}

body {
    text-align: center;
}

.background {
    background-image: url('../img/bg.jpg');
    filter: grayscale(0);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 20px;
    background-color: #af8f00;
    color: white;
    border-color: white;
    border-width: 3px;
}

#start-button:disabled {
    display: none;
}

#canvas {
    width: 900px;
    height: 600px;
    background-color: gray;
}

.end-game {
    display: none;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgb(221, 204, 48);
    padding: 30px 70px;
}

.end-msg {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#restart-button:disabled {
    display: none;
}

.actions {
    background-image: url("../buttons/buttons\ background.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 139px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    background-color: #af8f00;
    color: white;
    padding: 20px;
    border-color: white;
    border-width: 3px;
}

.movement img {
    width: 30px;
}

.movement .btn {
    padding: 10px;
}

.attacks,
.movement {
    margin: 20px;
}

.btn.punch {
    background-color: rgb(255, 0, 0)
}

.btn.kick {
    background-color: rgb(0, 0, 255)
}

.btn.pushed {
    background-color: #886f00;
    border-width: 1px;
    padding: 15px;
}

.movement .btn.pushed {
    padding: 5px;
}