* {
    margin: 0;
    padding: 0
}

body {
    text-align: center;
}

.background {
    background-image: url('../img/bg.jpg');
    filter: grayscale(.6);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    position: absolute;
    padding: 20px;
    border-radius: 5px;
}

#start-button:disabled {
    display: none;
}

#canvas {
    width: 900px;
    height: 600px;
    background-color: gray;
}

.end-game {
    display: none;
    position: absolute;
    background-color: rgb(221, 204, 48);
    padding: 30px 70px;
}

.end-msg {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#restart-button:disabled {
    display: none;
}